<article class="post">
  <div class="title">
        <div class = "title-post-name">
            {{title}}
        </div>
        <div class ="post-title">
                Posted by {{user.username}} on {{format_date created_at}}
                
        </div>
  </div>
  <div class="meta">  
  </div>
</article>