<div class = "create-new-post-page">
<section>
  <div class ="create-post">
  Create New Post
  </div>
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url"></label>
      <input id="post-url" name="post-url" value="https://www.google.com/" />
    </div>
    
    <button type="submit" class="btn">Create</button>
  </form>
</section>



<span class="content-dashboard">Content</span>
{{#if posts.length}}
<section>
 
 <div class ="content-new-post">
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      {{> comments post.comments}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
  </div>
</section>
</div>
{{/if}}
<div class ="list-title">List Title</div>


<script src="/javascript/add-post.js"></script>
