<div class="edit-post-page">
<article>
  
  <div class ="edit-post">
    Edit Post
  </div>
  <form class="edit-post-form">
    Title
    <div>
      <input name="post-title" class="post-title" type="text" value="{{post.title}}" />
      
    </div>
    <div>
     
    </div>
    <button type="submit"class="save-post-btn" >Update Post</button>
    <button type="button" class="delete-post-btn">Delete</button>
  </form>
</article>

<form class="comment-form">
  Content
  <div>
    <textarea name="comment-body"></textarea>
    {{> comments post.comments}}
  </div>

  <div class="button-new-post">
    <button type="submit" class = "new-post-button">+ New Post</button>
  </div>
  
</form>
<a href="/dashboard"> &larr; Back to dashboard</a>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>