<form class="signup-form">
  <div class="sign-up">
    Sign Up
  </div>

  <div>
    <label for="username-signup">Username</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup" >Email</label>
    <input type="text" id="email-signup"  value="hophop@hotmail.com" />
  </div>
  <div>
    <label for="password-signup">Password</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" id="signup-submit">Sign Up!</button>
  </div>
    <li>
        <a href="/loginBack">Login Instead</a>
    </li>
</form>

<script src="/javascript/sign-up.js"></script>